.node-editor {
	min-height: 400px;
	height: 100%;

	display: flex;
	flex-direction: column;

	.node { 
		background: #757575cc;
		border: 4px solid #474747;

		&.selected {
			background: #707070;
			border-color: #a73804;
		}

		&:hover {
			background: #707070;
		}

		.title {
			background: rgb(67,88,98);
			font-size: 1.25em;
			font-family: monospace;
		}

		.socket {

			&.input {
				margin-left: -16px;
				border-radius: 12px 0 0 12px;
			}

			&.output {
				margin-right: -16px;
				border-radius: 0 12px 12px 0;
			}
		}
	}
}

.dock {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	flex: 0 0 100px;	
	border-top: 1px solid #d3d3d3;
	padding-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.actions>button {
	margin-right: 0.25em;
}	

.dock-item {
	display: inline-block;
	vertical-align: top;
	transform: scale(0.8);
	transform-origin: 50% 0;
}