.node-editor {
	min-height: 400px;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.dock {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	flex: 0 0 100px;	
	border-top: 1px solid #d3d3d3;
	padding-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.actions>button {
	margin-right: 0.25em;
}	

.dock-item {
	display: inline-block;
	vertical-align: top;
	transform: scale(0.8);
	transform-origin: 50% 0;
}